<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>David Szakonyi</title>
  <meta name="description" content="david szakonyi">
  <meta name="keywords" content="david szakonyi">
  <meta property="og:url" content="https://www.davidszakonyi.com">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="david szakonyi">
  <meta property="og:title" content="david szakonyi">
  <meta property="og:description" content="david szakonyi">
  <meta property="og:locale" content="en_US">

  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" type="text/css">
  <link href="../css/fonts/stylesheet.css" rel="stylesheet" type="text/css">
  <link href="../css/index.css" rel="stylesheet" type="text/css">
  <link href="../css/alert.css" rel="stylesheet" type="text/css">

  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script defer src="../js/transition.js"></script>
  <script defer src="../js/headshot.js"></script>

</head>
